body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
     background-color: #f4f8f3;

}
 
header {
    background-color: #287c0f;
    color: #ffffff;
    padding: 1em;
    text-align: center;
    position: relative;
}


#carrinho-icon {
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: white;
    color: #333;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#addremov-carrinho {
    background-color: #b5cfae;
    border-color: #ccc;
    cursor: pointer;
    padding: 6px 10px;
}


#carrinho {
    position: fixed;
    top: 80px;
    right: 20px;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1em;
    display: none;
    z-index: 1000;
    cursor: pointer;
}


main {
    padding: 2em;
}


.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5em;
}

.book {
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 8px;
    border-left: 6px solid #287c0f;
    background-color: #f2f3f1;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.book:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
}

.book h3 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 1em;
}

#map {
    height: 400px;
    margin-top: 1em;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #eee;
}

.form-group-local-dados {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    border-color: #287c0f;
}

#localizacao {
    background-color: #287c0f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


footer {
    background-color: #287c0f;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-size: cover;
    background-position: center;
    }

 .entrega-card {
    margin-top: 2em;
    padding: 1.5em;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-left: 6px solid #287c0f;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.entrega-card h3 {
    margin-top: 0;
    color: #287c0f;
}
  
#card-entrega {
    display: none;
    margin-top: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    border-left: 6px solid #287c0f;
    border-right: 6px solid #287c0f;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 600px;
    transition: transform 0.2s, box-shadow 0.2s;
}

#card-entrega:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
}